{#
/**
 * @file
 * Theme implementation to display a list's values as checkboxes.
 *
 * Available variables:
 * - allowed_values: The allowed values of a list field.
 *   The associative array that contains pairs ['key' => 'value'].
 *
 * - selected_keys: The array of keys of selected values of a list field.
 * - field_name: The name of a list field.
 */
#}

<div class="display_selected_and_unselected_values_checkbox">
  {% for key, value in allowed_values %}
    <div>
      {% if key in selected_keys %}
        <input type="checkbox" disabled="disabled" value="{{ value }}" checked="checked">
      {% else %}
        <input type="checkbox" disabled="disabled" value="{{ value }}">
      {% endif %}
      <label class="option">{{ value }}</label>
    </div>
  {% endfor %}
</div>


